<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>gerenciador</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NuevaEmpresaServlet</display-name>
    <servlet-name>NuevaEmpresaServlet</servlet-name>
    <servlet-class>com.alura.gerenciador.servlet.NuevaEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevaEmpresaServlet</servlet-name>
    <url-pattern>/nuevaEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaEmpresasServlet</display-name>
    <servlet-name>ListaEmpresasServlet</servlet-name>
    <servlet-class>com.alura.gerenciador.servlet.ListaEmpresasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaEmpresasServlet</servlet-name>
    <url-pattern>/listaEmpresas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarEmpresaServlet</display-name>
    <servlet-name>EliminarEmpresaServlet</servlet-name>
    <servlet-class>com.alura.gerenciador.servlet.EliminarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarEmpresaServlet</servlet-name>
    <url-pattern>/eliminarEmpresa</url-pattern>
  </servlet-mapping>
</web-app>